.collapsible-box {
    border: 2px solid #71A2FF; 
    width: 80%; 
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .collapsible-box h3 {
    margin: 0;
  }
  
  .collapsible-box p {
    margin-top: 10px;
    color: #333;
  }
  .collapsible-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .arrow {
    margin-left: auto;
    transition: transform 0.3s ease;
  }
  
  .arrow.open {
    transform: rotate(180deg);
  }
  /*Rhianan Williams & Nathan Suryadi, 2024, MathBuddy FrontEnd Source code, npm 7.7.6 */
 