/* CollapsibleBox.css */
.collapsible-box {
    border: 2px solid #71A2FF; /* Blue border */
    width: 80%; /* Span 70% of the page */
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto; /* Center the box horizontally */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .collapsible-box h3 {
    margin: 0;
  }
  
  .collapsible-box p {
    margin-top: 10px;
    color: #333;
  }
  .collapsible-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .arrow {
    margin-left: auto;
    transition: transform 0.3s ease;
  }
  
  .arrow.open {
    transform: rotate(180deg);
  }
  
 