.footer {
  background-color: #f0f4ff;
  padding: 2px 20px; 
  text-align: center;
  border-top: 2px solid #71A2FF;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-text {
  font-size: 0.4rem;
  color: #333;
  line-height: 1.2; 
}

.footer-logos {
  display: flex;
  gap: 10px;
}

.footer-logo {
  max-height: 15px;
  height: auto;
  width: auto;  
}
/*Rhianan Williams & Nathan Suryadi, 2024, MathBuddy FrontEnd Source code, npm 7.7.6 */