.parent-sidebar {
  background-color: #E8F1FF;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  margin-left: 15px;
  border: 2px solid #a4c2f4;
  margin-bottom: 10px;
  height: 41rem;
}

.parent-menu-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.parent-menu-icon {
  font-size: 24px;
  margin-bottom: 10px;
  cursor: pointer;
}

.parent-nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  cursor: pointer;
}

.parent-nav-item:nth-child(2) {
  margin-bottom: 60px;
}

.parent-nav-icon {
  font-size: 24px;
  margin-bottom: 10px;
}

.parent-nav-text {
  font-size: 16px;
  color: #71A2FF;
  text-align: center;
  text-decoration: none;
}

.parent-nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
