.teacher-sidebar {
  background-color: #E8F1FF;
  font-family: 'itim', cursive;
  width: 11rem;
  height: 47rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  margin-left: 15px;
  border: 2px solid #a4c2f4;
  margin-bottom: 10px;
}

.teacher-menu-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.teacher-menu-icon {
  font-size: 24px;
  margin-bottom: 10px;
  cursor: pointer;
}

.teacher-nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  cursor: pointer;
}

.teacher-nav-item:nth-child(2) {
  margin-bottom: 60px;
}

.teacher-nav-icon {
  font-size: 24px;
  margin-bottom: 10px;
}

.teacher-nav-dash-text {
  font-size: 16px;
  color: #71A2FF;
  text-align: center;
  text-decoration: none;
}

.teacher-nav-classes-text {
  font-size: 16px;
  color: #f77b7b;
  text-align: center;
  text-decoration: none;
}

.teacher-nav-quizzes-text {
  font-size: 16px;
  color: #fac782;
  text-align: center;
  text-decoration: none;
}

.teacher-nav-lessons-text {
  font-size: 16px;
  color: #da9fff;
  text-align: center;
  text-decoration: none;
}

.teacher-nav-feedback-text {
  font-size: 16px;
  color: #79fc79;
  text-align: center;
  text-decoration: none;
}

.teacher-nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
