.teacherclasses-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
}

.TCcontent-wrapper {
  display: flex;
  flex-direction: row;
}

.TCmain-content {
  font-family: 'itim', cursive;
  flex: 1;
  padding: 20px;
  margin-left: 1rem;
  margin-top: 1.5rem;
}

.TChome-message {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 20px;
  margin-left: 2vh;
  position: relative;
  padding-bottom: 1px;
}

.TChome-message::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 97%;
  height: 2px;
  background-color: #E8F1FF;
  margin-top: 10px;
}

.TCMain-Container {
  width: 100%;
  margin: 0 auto;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  border: 2px;
  margin-left: 0.5rem;
}

.TCtasks-table {
  width: 90%;
  border-collapse: collapse;
  margin: auto;
}

.TCtasks-table th, 
.TCtasks-table td {
  padding: 8px;
  text-align: center;
}

.TCtasks-table th {
  font-weight: 600;
}

.TCtable-row {
  cursor: pointer;
  border: 1px solid #71A2FF;
  border-radius: 5px;
  overflow: hidden;
}

.color {
  background-color: violet;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.TCcreate-quiz-button {
  border: 1.5px solid #71A2FF;
  border-radius: 5px;
  background-color: white;
  color: #71A2FF;
  padding: 8px;
  position: absolute;
  bottom: 10px;
  right: 20px;
  cursor: pointer;
}

.TCcreate-quiz-button:hover {
  background-color: #E8F1FF;
}

.error-message {
  color: red;
  text-align: center;
}
/*Rhianan Williams & Nathan Suryadi, 2024, MathBuddy FrontEnd Source code, npm 7.7.6 */