.parent-help-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
}

.parent-help-content {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-align: left;
    margin: 0 auto; 
}

.parent-help-header {
    text-align: center;
    margin-bottom: 20px;
}

.parent-help-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}


.parent-help-text {
    margin-bottom: 20px;
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
}

.parent-help-subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #333;
}

.parent-help-section {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #71A2FF;
}

.parent-help-list {
    margin-bottom: 20px;
    padding-left: 20px;
    list-style-type: disc;
}

.parent-help-conclusion {
    font-size: 1rem;
    margin-top: 30px;
    text-align: center;
    color: #333;
}
/*Rhianan Williams, MD Zuhayer Aousaf & Nathan Suryadi, 2024, MathBuddy FrontEnd Source code, npm 7.7.6 */