.parent-profile-page {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
}

.Side-navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main-content {
    margin-top: -10rem;
    flex: 1;
    margin-left: 1rem;
    padding: 2rem; 
}

.p-profile {
    width: 100%;
    padding-top: 5rem;
}

.ppp-header-bar {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #E8F1FF;
    padding: 10px;
}

.button-container {
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
    width: auto; 
    flex: 1; 
    margin-left: -10rem;
}

.ppp-edit-button {
    padding: 10px 20px;
    font-family: 'itim', cursive;
    background-color: #71A2FF;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ppp-edit-button:hover {
    background-color: #5a8dda;
}

.ppp-tables-container {
    
    display: flex;
    width: 100%; 
    gap: 20px; 
}

.ppp-table-con {
    flex: 1;
}

.ppp-table-con-full {
    width: 100%;
    margin-top: 20px; 
}

.ppp-Personal-info {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #71A2FF;
    border-radius: 10px;
}

.ppp-Personal-info th, .ppp-Personal-info td {
    border: 1px solid #71A2FF;
    padding: 10px;
}

.ppp-Personal-info th {
    background-color: #E8F1FF;
}

.ppp-contact-details {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #71A2FF;
    border-radius: 10px;
}

.ppp-contact-details th, .ppp-contact-details td {
    border: 1px solid #71A2FF;
    padding: 10px;
}

.ppp-contact-details th {
    background-color: #E8F1FF;
}

.ppp-address-details {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #71A2FF;
    border-radius: 10px;
}

.ppp-address-details th, .ppp-address-details td {
    border: 1px solid #71A2FF;
    padding: 10px;
}

.ppp-address-details th {
    background-color: #E8F1FF;
}

.ppp-txt {
    margin: 0; 
    padding: 0; 
}
/*Rhianan Williams, MD Zuhayer Aousaf & Nathan Suryadi, 2024, MathBuddy FrontEnd Source code, npm 7.7.6 */