/* Container styling */
.parent-profile-page {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
}

/* Styling for the sidebar and main content */
.Side-navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* Main content styling */
.main-content {
    margin-top: -10rem;
    flex: 1;
    margin-left: 1rem;
    padding: 2rem; /* Adjust as needed */
}

/* Styling for the profile section */
.p-profile {
    width: 100%;
    padding-top: 5rem;
}

/* Header bar styling */
.ppp-header-bar {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between; /* Space between title and buttons */
    align-items: center; /* Align items vertically */
    background-color: #E8F1FF;
    padding: 10px;
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Align buttons to the far right */
    gap: 10px; /* Space between buttons */
    width: auto; /* Let the container take the natural width of its contents */
    flex: 1; /* Take the remaining space available */
    margin-left: -10rem;
}


/* Button styling */
.ppp-edit-button {
    padding: 10px 20px;
    font-family: 'itim', cursive;
    background-color: #71A2FF;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ppp-edit-button:hover {
    background-color: #5a8dda;
}

/* Table container styling */
.ppp-tables-container {
    
    display: flex;
    width: 100%; 
    gap: 20px; 
}

.ppp-table-con {
    flex: 1;
}

/* Full-width table container for guardian details */
.ppp-table-con-full {
    width: 100%;
    margin-top: 20px; 
}

/* Personal info table styling */
.ppp-Personal-info {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #71A2FF;
    border-radius: 10px;
}

.ppp-Personal-info th, .ppp-Personal-info td {
    border: 1px solid #71A2FF;
    padding: 10px;
}

.ppp-Personal-info th {
    background-color: #E8F1FF;
}

/* Contact details table styling */
.ppp-contact-details {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #71A2FF;
    border-radius: 10px;
}

.ppp-contact-details th, .ppp-contact-details td {
    border: 1px solid #71A2FF;
    padding: 10px;
}

.ppp-contact-details th {
    background-color: #E8F1FF;
}

/* Address details table styling */
.ppp-address-details {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #71A2FF;
    border-radius: 10px;
}

.ppp-address-details th, .ppp-address-details td {
    border: 1px solid #71A2FF;
    padding: 10px;
}

.ppp-address-details th {
    background-color: #E8F1FF;
}

/* Styling for h2 elements */
.ppp-txt {
    margin: 0; 
    padding: 0; 
}
