  .studenthome-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
  }

  .SHcontent-wrapper {
    display: flex;
    flex-direction: row;
  }

  .SHmain-content {
    font-family: 'itim', cursive;
    flex: 1;
    padding: 20px;
    margin-left: 1rem; 
    margin-top: 1.5rem; 
  }

  .home-message {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: -4vh;
    position: relative; 
    padding-bottom: 1px; 
  }

  .home-message::after {
    content: "";
    position: absolute; 
    top: 100%;
    left: 0;
    width: 100%; 
    height: 2px;
    background-color: #E8F1FF; 
    margin-top: 10px; 
  }

  .home-message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .SHactive-message {
    padding-right: 3rem;
  }

  .SHMain-Container {
    width: 79%;
    height: 80vh;
    margin: 0 auto;
    margin-top: 5vh;
    display: flex; 
    flex-direction: column;
    border: 2px;
    margin-left: 0.5rem;
  }

  .SHbutton-container {
    height: 20vh;
    width: 100%;
    border: 2px;
    margin-top: -1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative; 
  }

  .SHbutton-container::after {
    content: "";
    position: absolute; 
    top: 100%; 
    left: 0; 
    width: 96%; 
    height: 2px;
    background-color: #E8F1FF; 
    margin-top: 10px; 
  }

  .SHbutton-container::before {
    content: "";
    position: absolute;
    top: 10%; 
    left: 100%; 
    width: 2px;
    height: 400%;
    background-color: #E8F1FF; 
  }


  .SHB {
    font-family: 'itim', cursive;
    font-weight: 700;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .SHQuizButton {
    width: 19rem;
    height: 6rem;
    padding: 10px 20px;
    background-color: #fcdaab;
    border: 2px solid #fac782; 
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }

  .SHLessonsButton {
    width: 19rem;
    height: 6rem;
    padding: 10px 20px;
    background-color: #da9fff;
    border: 2px solid #bf64fc;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .SHFeedbackButton {
    width: 19rem;
    height: 6rem;
    padding: 10px 20px;
    background-color: #b8f8ba;
    border: 2px solid #79fc79;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .SHrecently-accessed-container {
    height: 60vh;
    width: 100%;
    border: 2px ;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  .SHrecently-accessed-box {
    margin-top: 1rem;
  }

  .SHmessage-recently {
    margin-top: 1rem;
    margin-left: 1rem;
    font-weight: 700;
    font-size: 2rem;
  }

  .RAB {
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .SHTaskbox-Container {
    width: 100%;
    display: flex;
    flex-direction: column; 
    border: 2px;
    justify-content: flex-start; 
    align-items: flex-end; 
    padding-left: 2rem; 
    gap: 1rem; 
    margin-top: -48rem; 
    margin-left: -3rem; 
  }

  @media (max-width: 1700px) {
    .studenthome-container {
      display: flex;
      flex-direction: column;
      background-color: white;
      height: 100vh;
    }
    
    .SHcontent-wrapper {
      display: flex;
      flex-direction: row;
    }
    
    .SHmain-content {
      flex: 1;
      padding: 20px;
      margin-left: 1rem; 
      margin-top: 1.5rem; 
    }
    
    .home-message {
      font-weight: 700;
      font-size: 1.5rem;
      margin-bottom: 20px;
      margin-top: -4vh;
      position: relative;
      padding-bottom: 1px; 
    }
    
    .home-message::after {
      content: "";
      position: absolute; 
      top: 100%;
      left: 0; 
      width: 100%; 
      height: 2px;
      background-color: #E8F1FF;
      margin-top: 10px; 
    }
    
    .home-message {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    
    .SHactive-message {
      padding-right: 3rem;
    }
    
    .SHMain-Container {
      width: 79%;
      height: 80vh;
      margin: 0 auto;
      margin-top: 5vh;
      display: flex; 
      flex-direction: column;
      border: 2px ; 
      margin-left: 0.5rem;
    }
    
    .SHbutton-container {
      height: 20vh;
      width: 100%;
      border: 2px ;
      margin-top: -1rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      position: relative;
    }
    
    .SHbutton-container::after {
      content: "";
      position: absolute; 
      top: 100%;
      left: 0; 
      width:93%; 
      height: 2px;
      background-color: #E8F1FF; 
      margin-top: 10px;
    }

    .SHbutton-container::before {
      content: "";
      position: absolute;
      top: 10%; 
      left: 96%; 
      width: 2px;
      height: 400%;
      background-color: #E8F1FF; 
    }
    
    
    .SHB {
      font-weight: 700;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
    
    }
    
    .SHQuizButton {
      width: 13rem;
      height: 6rem;
      padding: 10px 20px;
      background-color: #fcdaab;
      border: 2px solid #fac782;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .SHLessonsButton {
      width: 13rem;
      height: 6rem;
      padding: 10px 20px;
      background-color: #da9fff;
      border: 2px solid #bf64fc;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .SHFeedbackButton {
      width: 13rem;
      height: 6rem;
      padding: 10px 20px;
      background-color: #b8f8ba;
      border: 2px solid #79fc79;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .recently-accessed-container {
      height: 60vh;
      width: 100%;
      border: 2px ;
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
    }
    
    .message-recently {
      margin-top: 2rem;
      margin-left: 1rem;
      font-weight: 700;
      font-size: 1.5rem;
    }
    
    .RAB {
      margin-top: 2rem;
      margin-left: 2rem;
    }

    .SHTaskbox-Container {
      width: 100%;
      display: flex;
      flex-direction: column;
      border: 2px;
      justify-content: flex-start; 
      align-items: flex-end; 
      padding-left: 2rem; 
      gap: 1rem; 
      margin-top: -40rem; 
      margin-left: -1rem; 
    }
    
  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7); 
    z-index: 9999;
  }

  .loading-spinner {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #3498db; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  }

/*Rhianan Williams & Nathan Suryadi, 2024, MathBuddy FrontEnd Source code, npm 7.7.6 */
