.studentfeedback-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
  }
  
  .SFcontent-wrapper {
    display: flex;
    flex-direction: row;
  }
  
  .SFmain-content {
    font-family: 'itim', cursive;
    flex: 1;
    padding: 20px;
    margin-left: 1rem; 
    margin-top: 1.5rem; 
  }
  
  .Feedback-message {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: -4vh;
    position: relative;
    padding-bottom: 1px; 
  }
  
  .Feedback-message::after {
    content: "";
    position: absolute; 
    top: 100%;
    left: 0;
    width: 100%; 
    height: 2px;
    background-color: #E8F1FF; 
    margin-top: 10px;
  }
  
  .SFMain-Container {
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    margin-top:5vh;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
  }
  
  .Feedback-box {
    width: 100%;
    height: 20%;
    display: flex; 
    flex-direction: column;
    border: 2px ; 
    margin-left: 0.5rem;
  }
  
  /*Rhianan Williams & Nathan Suryadi, 2024, MathBuddy FrontEnd Source code, npm 7.7.6 */