.student-lessons-container{
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
  font-family: 'Itim', sans-serif; /* Apply the Itim font globally */
}


.SLcontent-wrapper{
  display: flex;
  flex-direction: row;
}

.SLmain-content{
  flex: 1;
  padding: 20px;
  margin-left: 1rem; /* Adjust this value to provide space for the sidebar */
  margin-top: 1.5rem; /* Adjust this value to provide space for the header */
}

.lessons-title{
 
  font-family: 'itim', cursive;
  
}

.lessons-sub-title{

  font-family: 'itim';
}

