.student-lessons-container {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  height: 100vh;
  font-family: 'Itim', sans-serif; 
}

.SLcontent-wrapper {
  display: flex;
  flex-direction: row;
}

.SLmain-content {
  flex: 1;
  padding: 20px;
  margin-left: -0.5rem; 
  margin-top: -1.5rem; 
}

.lessons-title-container {
  position: relative;
  margin-bottom: 20px;
  padding: 0; 
}

.lessons-title {
  font-size: 2rem;
  font-weight: 700;
  font-weight: bold;
  position: relative;
  font-family: 'itim', cursive;
}

.lessons-title::after {
  content: "";
  position: absolute;
  top: 100%; 
  left: 0;
  width: 100%; 
  height: 2px;
  background-color: #E8F1FF;
  margin-top: 10px; 
}
