.help-page {
  font-family: Arial, sans-serif;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.help-header {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
}

.help-content {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
max-width: 1000px;
}

.help-title {
font-size: 2.5rem;
font-weight: bold;
margin-bottom: 30px;
text-align: center;
}

.help-button-container {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
}

.help-button-link {
display: block; 
width: 70%; 
text-align: center; 
margin: 10px 0; 
}

.help-button {
border: 3px solid #71A2FF;
background-color: white;
border-radius: 5px;
width: 100%; 
font-size: medium;
font-weight: bold;
padding: 15px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.help-button:hover {
background-color: #e0e7ff;
}
/*Rhianan Williams & Nathan Suryadi, 2024, MathBuddy FrontEnd Source code, npm 7.7.6 */