.signup-page {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
  }
  
  .signup-page h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    align-items: center; 
  }
  
  .signup-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%; 
  }
  
  .signup-button,
  .teacher-button {
    background-color: #71A2FF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    width: 70%; 
    text-align: center; 
    max-width: 300px; 
  }
  
  .signup-button:hover,
  .teacher-button:hover {
    background-color: #0056b3;
  }
  
.password-strength {
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
}

.password-strength.very-weak {
  color: red;
}
.password-strength.weak {
  color: orange;
}
.password-strength.medium {
  color: yellow;
}
.password-strength.strong {
  color: lightgreen;
}
.password-strength.very-strong {
  color: green;
}
/*Rhianan Williams & Nathan Suryadi, 2024, MathBuddy FrontEnd Source code, npm 7.7.6 */